/* $Id: printer.css,v 1.2 2003/06/23 05:22:44 glen Exp $
** stylesheet for printing
*/

/* hide these things */
#topmenu,#left,#right,p.action,p.folderpath,div.edit {
display:none;
}

body {
font-family: verdana,arial,helvetica,sans-serif;
font-size: 12pt;
}
#content {
line-height: 130%;
}
#footer {
color: gray;
font-size: 10pt;
}
img {
border: none;
}
th {
text-align: left;
border-bottom: 1px gray solid;
}
td {
vertical-align: top;
}
tr.even {
border: 1px gray solid;
padding: 2px;
}