body {
background: white;
color: black;
}
body, td, th {
font-family: arial,helvetica,sans-serif;
font-size: 12px;
}
#top {
margin-bottom: 20px;
}
#top h1 {
border-bottom: 1px darkgreen solid;
margin: 0;
background: white;
letter-spacing: 0;
font-size: 18px;
}
#top h1 a, #top h1 a:visited, #top h1 a:active, #top h1 a:hover {
color: black;
text-decoration: none;
}
#logo {
vertical-align: top;
}
#topmenu {
float: right;
margin: 0 5px 0 0;
}
.sitedesc {
font-style: italic;
vertical-align: top;
}
#content {
width: 92%;
margin: 0 4% 0 4%;
line-height: 125%;
}
#footer {
width: 96%;
margin-top: 20px;
border-top: 1px darkgreen solid;
color: gray;
text-align: center;
}
#footer td {
color: gray;
text-align: center;
}
#left {
width: 20%;
padding-right: 10px;
}
#right {
width: 80%;
font-family: times new roman, times, serif;
font-size: small;
}
#right p {
margin-top: 0;
}
.menu {
background: #ccffcc;
border: 2px darkgreen solid;
padding: 15px;
}
.menu b {
margin-top: 3px;
}
.menu p {
margin: 0 0 10px 0;
color: darkgreen;
}
.menu .title {
font-weight: bold;
color: darkgreen;
text-align: center;
}

.popup {
}
.popup form, .popup textarea {
width: auto;
}

#weblog, .Document, .Comments {
width: 600px;
margin-bottom: 15px;
}

/* hyperlinks */
a {
color: mediumblue;
text-decoration: underline;
}
a:active {
color: red;
}
a:visited {
color: purple;
}

/* headings */
h1,h2,h3,h4 {
font-family: arial,helvetica,sans-serif;
line-height: 120%;
margin-bottom: 5px;
}
h1 {
font-size: 24px;
margin: 0 0 30px 0;
letter-spacing: -1px;
}
h2 { font-size: 18px; }
h3 { font-size: 15px; }
h4 { font-size: 12px; }
h2.date {
color: darkgreen;
font-size: 12px;
letter-spacing: 2px;
border-bottom: 1px gray solid;
}
h3.title {
font-size: 18px;
}

/* tables */
td {
vertical-align: top;
}
th {
font-weight: bold;
background: ghostwhite;
border-bottom: 1px gray solid;
}
.infotable {
width: 600px;
border: 2px darkgreen solid;
}
.infotable th, .intotable td {
background: silver;
}
.infotable td, .infotable th, .list th, .list td, .inputform td {
}
.infotable th {
text-align: right;
vertical-align: top;
width: 150px;
border-right: 1px gray solid;
}
.list {
border-top: 1px gray solid;
border-bottom: 1px gray solid;
padding: 2px 10px 2px 10px;
margin: 10px 0 10px 0;
}
.list p {
margin: 0 0 3px 0;
}

/* images */
img { border: none; }

/* input forms */
form {
line-height: 120%;
width: 600px;
border-top: 1px gray solid;
border-bottom: 1px gray solid;
padding: 10px 0 10px 0;
}
.prompt { 
font-family: arial,helvetica,sans-serif;
font-size: 13px;
margin: 10px 0 2px 0; 
font-weight: bold; 
}
.doc { 
font-family: arial,helvetica,sans-serif;
font-size: 12px;
margin: 2px 0 2px 0; 
color: darkgray; 
}
.field { 
margin: 2px 0 10px 0; 
}
textarea {
width: 500px;
}

/* various paragraphs */
.info, .author, .recordset {
font-family: arial,helvetica,sans-serif;
color: gray;
font-size: 12px;
}
.action {
font-family: arial,helvetica,sans-serif;
padding: 2px;
text-align: center;
clear: both;
font-size: 12px;
}
.action a {
margin: 0 3px 0 3px;
}
.error {
font-family: arial,helvetica,sans-serif;
color: red;
clear: both;
font-size: 12px;
}
.Comments {
font-family: arial,helvetica,sans-serif;
font-size: 12px;
}
.Comments p {
margin-top: 0;
margin-bottom: 10px;
}
.Comments .subject {
font-weight: bold;
font-size: 13px;
margin-top: 10px;
margin-bottom: 0;
}

/* folders and image boxes */
.subfolders,.imageboxes {
margin: 5px 0 5px 0;
clear: both;
}
.subfolder,.picbox,.picboxlong {
text-align:center;
font-family: verdana,arial,helvetica,sans-serif;
font-size: 11px;
line-height: 13px;
margin: 2px;
padding: 2px;
border: 1px #eeeeee solid;
float: left;
}
.subfolder {
width: 90px;
height: 90px;
}
.picbox {
width: 110px;
height: 110px;
}
.picboxlong {
width: 110px;
height: 140px;
}

.backnext {
float:right;
}

/* division */
.image {
text-align: center;
padding: 20px;
background: ghostwhite;
font-family: arial,helvetica,sans-serif;
font-size: 12px;
margin-bottom: 15px;
}
.description {
text-align: left;
}
.path {
font-style: normal;
color: gray;
}


/* miscellaneous */
.pollbar {
background: darkgreen;
}
.odd {
padding: 1px;
}
.even {
background: ghostwhite;
padding: 1px;
}
.messages {
background: yellow;
padding: 10px;
text-align: center;
line-height: 120%;
margin: 10px 0 10px 0;
}